P6_Leads_V2_claude.json
{
  "id": "p6-leads-v2",
  "name": "P6 Leads V2",
  "active": false,
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Run Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Get Summary Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 160],
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_PLACEHOLDER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Summary",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000019",
      "name": "Get All Companies",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 440],
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_PLACEHOLDER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Companies",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000017",
      "name": "Collect Summary Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 440],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const trigger = $('New Lead Added').first().json;\n\n// Get Summary Log runs first (listed first in fan-out from Run Workflow).\n// $('Get Summary Log').all() returns [] when the sheet has no data rows,\n// so this node always outputs exactly 1 item regardless of sheet state.\nconst summaryRows = $('Get Summary Log').all()\n  .map(r => r.json)\n  .filter(r => r && r.Company);\n\nreturn [{\n  json: {\n    summaryRows,\n    company: (trigger.Company || '').trim(),\n    website: trigger.Website || '',\n    contactName: trigger['Contact Name'] || '',\n    role: trigger.Role || '',\n    email: trigger.Email || ''\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Check 30-Day Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 440],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { company, website, contactName, role, email, summaryRows } = $input.first().json;\nconst cutoff = Date.now() - (30 * 24 * 60 * 60 * 1000);\n\nlet isRecent = false;\nif (summaryRows && summaryRows.length > 0) {\n  isRecent = summaryRows.some(row => {\n    const rowCompany = (row.Company || '').trim();\n    if (rowCompany.toLowerCase() !== company.toLowerCase()) return false;\n    if (!row.Recency) return false;\n    return new Date(row.Recency).getTime() > cutoff;\n  });\n}\n\nreturn [{ json: { isRecent, company, website, contactName, role, email } }];"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Skip If Recent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 440],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-dedup",
              "leftValue": "={{ $json.isRecent }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://r.jina.ai/' + $('New Lead Added').first().json.Website }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Fetch News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://news.google.com/rss/search?q=' + encodeURIComponent($('New Lead Added').first().json.Company) + '&hl=en-US&gl=US&ceid=US:en' }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Summarizer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1780, 300],
      "parameters": {
        "promptType": "define",
        "text": "=`You are a business analyst researching prospective consulting clients.\n\nCompany: ${ $('New Lead Added').first().json.Company }\nWebsite: ${ $('New Lead Added').first().json.Website }\n\nWebsite Content:\n${ String($('Scrape Website').first().json.data || '').slice(0, 3000) }\n\nRecent News Headlines:\n${ String($('Fetch News').first().json.data || '').slice(0, 1500) }\n\nWrite a 2-3 sentence factual summary covering: what this company does, who their customers are, and their current operational focus. Output only the summary — no labels, headers, or extra commentary.`"
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1780, 500],
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googleGeminiApi": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Scorer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [2000, 300],
      "parameters": {
        "promptType": "define",
        "text": "=`You are an expert sales analyst evaluating companies as prospects for an AI workflow automation consulting firm.\n\nThe consulting service helps small to mid-size SaaS and tech companies deploy internal productivity tools using platforms like n8n, Claude, and Google Workspace. Ideal clients have operational complexity, manual or fragmented workflows, and a non-technical ops or admin function that would benefit from automation. They are NOT large enterprises that build their own automation in-house.\n\nCompany: ${ $('New Lead Added').first().json.Company }\nContact Role: ${ $('New Lead Added').first().json.Role }\n\nCompany Summary:\n${ $('Summarizer Chain').first().json.text }\n\nScoring criteria (score relative to fit for this consulting service):\n- 7-10: SaaS or tech company, 10-500 employees, clear operational complexity, Google Workspace likely in use, non-technical ops/admin roles present, no in-house automation team — strong candidate for outreach\n- 4-6: Relevant industry but ambiguous company size, unclear automation need, or limited public information available\n- 1-3: Large enterprise with own engineering/automation team, non-tech industry, or minimal digital presence\n\nRespond ONLY with a valid JSON object on a single line. No markdown, no code fences, no explanation.\nFormat: {\"score\": <integer 1-10>, \"rationale\": \"<one sentence explaining the score>\"}`"
      }
    },
    {
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Gemini Flash (Scorer)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2000, 500],
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "googleGeminiApi": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = ($input.first().json.text || '').trim();\nconst trigger = $('New Lead Added').first().json;\n\nlet score = 5;\nlet rationale = 'Score could not be parsed from LLM output.';\n\ntry {\n  const cleaned = raw.replace(/```(?:json)?\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  score = Math.min(10, Math.max(1, parseInt(parsed.score, 10)));\n  rationale = parsed.rationale || rationale;\n} catch (e) {\n  const scoreMatch = raw.match(/\"score\"\\s*:\\s*(\\d+)/);\n  const rationaleMatch = raw.match(/\"rationale\"\\s*:\\s*\"([^\"]+)\"/);\n  if (scoreMatch) score = Math.min(10, Math.max(1, parseInt(scoreMatch[1], 10)));\n  if (rationaleMatch) rationale = rationaleMatch[1];\n}\n\nreturn [{\n  json: {\n    score,\n    rationale,\n    company: trigger.Company || '',\n    website: trigger.Website || '',\n    contactName: trigger['Contact Name'] || '',\n    role: trigger.Role || '',\n    email: trigger.Email || '',\n    summary: $('Summarizer Chain').first().json.text || ''\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Route By Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2440, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-score",
              "leftValue": "={{ $json.score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Email Writer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [2660, 180],
      "parameters": {
        "promptType": "define",
        "text": "=`You are writing a cold outreach email on behalf of an independent AI workflow automation consultant.\n\nThe consultant helps small to mid-size SaaS and tech companies deploy internal productivity tools — things like automating repetitive ops work, connecting the tools a team already uses, and reducing manual handoffs — using n8n, Claude, and Google Workspace. No enterprise contracts, no big implementation teams. Just practical automation that actually gets used.\n\nYou are writing to:\n- Name: ${ $('Parse Score').first().json.contactName }\n- Role: ${ $('Parse Score').first().json.role }\n- Company: ${ $('Parse Score').first().json.company }\n\nWhat you know about their company:\n${ $('Parse Score').first().json.summary }\n\nWrite a cold outreach email body with exactly this structure:\n\nParagraph 1 (3-4 sentences): Open with one specific, genuine observation about the company — something from what you know about them. Briefly introduce who you are and what you do. Keep it personal, like you actually looked them up.\n\nParagraph 2 (3-4 sentences): Describe a realistic workflow pain point that a company like theirs likely has. Connect it to what you offer — concretely, not vaguely. Give them a reason to see this as relevant to their work.\n\nParagraph 3 (2-3 sentences): Soft, low-pressure ask — suggest a brief call to see if there is a fit. Make it easy to say yes or no.\n\nTone rules:\n- Friendly and professional. Write like a real person, not a marketing team.\n- No buzzwords: do not use synergy, leverage, streamline, world-class, cutting-edge, game-changing, or innovative.\n- No hype. No hollow compliments.\n- Do NOT include a subject line, greeting, or sign-off — output the three body paragraphs only, separated by blank lines.`"
      }
    },
    {
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Gemini Flash (Email)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2660, 400],
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.7
        }
      },
      "credentials": {
        "googleGeminiApi": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000018",
      "name": "Guard Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 180],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = ($input.first().json.text || '').trim();\nif (!body) {\n  throw new Error(\n    'Email Writer Chain returned an empty body for ' +\n    $('Parse Score').first().json.company +\n    ' — execution stopped before sending.'\n  );\n}\nreturn $input.all();"
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [3100, 180],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Parse Score').first().json.email }}",
        "subject": "={{ 'Quick question, ' + $('Parse Score').first().json.contactName }}",
        "emailType": "html",
        "message": "={{ $('Email Writer Chain').first().json.text.replace(/\\n/g, '<br>') }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "Log to Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [3320, 300],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_PLACEHOLDER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Summary",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Parse Score').first().json.company }}",
            "Orig Text": "={{ $('Parse Score').first().json.summary }}",
            "Summary": "={{ $('Parse Score').first().json.rationale }}",
            "Rating": "={{ $('Parse Score').first().json.score }}",
            "Recency": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Run Workflow": {
      "main": [
        [
          {
            "node": "Get Summary Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary Log": {
      "main": [
        []
      ]
    },
    "Get All Companies": {
      "main": [
        [
          {
            "node": "Collect Summary Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Summary Rows": {
      "main": [
        [
          {
            "node": "Check 30-Day Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 30-Day Dedup": {
      "main": [
        [
          {
            "node": "Skip If Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Recent": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "Fetch News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News": {
      "main": [
        [
          {
            "node": "Summarizer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Summarizer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarizer Chain": {
      "main": [
        [
          {
            "node": "Scorer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash (Scorer)": {
      "ai_languageModel": [
        [
          {
            "node": "Scorer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scorer Chain": {
      "main": [
        [
          {
            "node": "Parse Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score": {
      "main": [
        [
          {
            "node": "Route By Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Score": {
      "main": [
        [
          {
            "node": "Email Writer Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash (Email)": {
      "ai_languageModel": [
        [
          {
            "node": "Email Writer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Writer Chain": {
      "main": [
        [
          {
            "node": "Guard Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Email Body": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log to Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
