P6_Leads_V2_claude.json
{
  "id": "p6-leads-v2",
  "name": "P6 Leads V2",
  "active": false,
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "New Lead Added",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 4,
      "position": [240, 300],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_PLACEHOLDER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Companies",
          "mode": "name"
        },
        "event": "rowAdded",
        "options": {}
      },
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Get Summary Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_PLACEHOLDER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Summary",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Check 30-Day Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const trigger = $('New Lead Added').first().json;\nconst company = (trigger.Company || '').trim();\nconst cutoff = Date.now() - (30 * 24 * 60 * 60 * 1000);\n\nlet isRecent = false;\nconst rows = $input.all();\n\nif (rows && rows.length > 0 && rows[0].json && rows[0].json.Company) {\n  isRecent = rows.some(row => {\n    const rowCompany = (row.json.Company || '').trim();\n    if (rowCompany.toLowerCase() !== company.toLowerCase()) return false;\n    if (!row.json.Recency) return false;\n    return new Date(row.json.Recency).getTime() > cutoff;\n  });\n}\n\nreturn [{\n  json: {\n    isRecent,\n    company,\n    website: trigger.Website || '',\n    contactName: trigger['Contact Name'] || '',\n    role: trigger.Role || '',\n    email: trigger.Email || ''\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Skip If Recent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-dedup",
              "leftValue": "={{ $json.isRecent }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://r.jina.ai/' + $('New Lead Added').first().json.Website }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Fetch News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://news.google.com/rss/search?q=' + encodeURIComponent($('New Lead Added').first().json.Company) + '&hl=en-US&gl=US&ceid=US:en' }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Summarizer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1560, 200],
      "parameters": {
        "promptType": "define",
        "text": "=`You are a business analyst researching prospective consulting clients.\n\nCompany: ${ $('New Lead Added').first().json.Company }\nWebsite: ${ $('New Lead Added').first().json.Website }\n\nWebsite Content:\n${ String($('Scrape Website').first().json.data || '').slice(0, 3000) }\n\nRecent News Headlines:\n${ String($('Fetch News').first().json.data || '').slice(0, 1500) }\n\nWrite a 2-3 sentence factual summary covering: what this company does, who their customers are, and their current operational focus. Output only the summary — no labels, headers, or extra commentary.`"
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1560, 420],
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googleGeminiApi": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Scorer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1780, 200],
      "parameters": {
        "promptType": "define",
        "text": "=`You are an expert sales analyst evaluating companies as prospects for an AI workflow automation consulting firm.\n\nThe consulting service helps small to mid-size SaaS and tech companies deploy internal productivity tools using platforms like n8n, Claude, and Google Workspace. Ideal clients have operational complexity, manual or fragmented workflows, and a non-technical ops or admin function that would benefit from automation. They are NOT large enterprises that build their own automation in-house.\n\nCompany: ${ $('New Lead Added').first().json.Company }\nContact Role: ${ $('New Lead Added').first().json.Role }\n\nCompany Summary:\n${ $('Summarizer Chain').first().json.text }\n\nScoring criteria:\n- 8-10: SaaS or tech company, 10-500 employees, clear operational complexity, Google Workspace signals, non-technical ops/admin roles, no in-house automation team\n- 5-7: Relevant industry but ambiguous size, unclear automation need, or limited public information\n- 1-4: Large enterprise, non-tech industry, or builds automation in-house\n\nRespond ONLY with a valid JSON object on a single line. No markdown, no code fences, no explanation.\nFormat: {\"score\": <integer 1-10>, \"rationale\": \"<one sentence explaining the score>\"}`"
      }
    },
    {
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Gemini Flash (Scorer)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1780, 420],
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "googleGeminiApi": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200],
      "parameters": {
        "jsCode": "const raw = ($input.first().json.text || '').trim();\nconst trigger = $('New Lead Added').first().json;\n\nlet score = 5;\nlet rationale = 'Score could not be parsed from LLM output.';\n\ntry {\n  const cleaned = raw.replace(/```(?:json)?\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  score = Math.min(10, Math.max(1, parseInt(parsed.score, 10)));\n  rationale = parsed.rationale || rationale;\n} catch (e) {\n  const scoreMatch = raw.match(/\"score\"\\s*:\\s*(\\d+)/);\n  const rationaleMatch = raw.match(/\"rationale\"\\s*:\\s*\"([^\"]+)\"/);\n  if (scoreMatch) score = Math.min(10, Math.max(1, parseInt(scoreMatch[1], 10)));\n  if (rationaleMatch) rationale = rationaleMatch[1];\n}\n\nreturn [{\n  json: {\n    score,\n    rationale,\n    company: trigger.Company || '',\n    website: trigger.Website || '',\n    contactName: trigger['Contact Name'] || '',\n    role: trigger.Role || '',\n    email: trigger.Email || '',\n    summary: $('Summarizer Chain').first().json.text || ''\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Route By Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-score",
              "leftValue": "={{ $json.score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Email Writer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [2440, 100],
      "parameters": {
        "promptType": "define",
        "text": "=`You are writing a cold outreach email on behalf of an independent AI workflow automation consultant.\n\nThe consultant helps small to mid-size SaaS and tech companies deploy internal productivity tools — things like automating repetitive ops work, connecting the tools a team already uses, and reducing manual handoffs — using n8n, Claude, and Google Workspace. No enterprise contracts, no big implementation teams. Just practical automation that actually gets used.\n\nYou are writing to:\n- Name: ${ $('Parse Score').first().json.contactName }\n- Role: ${ $('Parse Score').first().json.role }\n- Company: ${ $('Parse Score').first().json.company }\n\nWhat you know about their company:\n${ $('Parse Score').first().json.summary }\n\nWrite a cold outreach email body with exactly this structure:\n\nParagraph 1 (3-4 sentences): Open with one specific, genuine observation about the company — something from what you know about them. Briefly introduce who you are and what you do. Keep it personal, like you actually looked them up.\n\nParagraph 2 (3-4 sentences): Describe a realistic workflow pain point that a company like theirs likely has. Connect it to what you offer — concretely, not vaguely. Give them a reason to see this as relevant to their work.\n\nParagraph 3 (2-3 sentences): Soft, low-pressure ask — suggest a brief call to see if there's a fit. Make it easy to say yes or no.\n\nTone rules:\n- Friendly and professional. Write like a real person, not a marketing team.\n- No buzzwords: do not use synergy, leverage, streamline, world-class, cutting-edge, game-changing, or innovative.\n- No hype. No hollow compliments.\n- Do NOT include a subject line, greeting, or sign-off — output the three body paragraphs only, separated by blank lines.`"
      }
    },
    {
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Gemini Flash (Email)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2440, 320],
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.7
        }
      },
      "credentials": {
        "googleGeminiApi": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2660, 100],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Parse Score').first().json.email }}",
        "subject": "={{ 'Quick question, ' + $('Parse Score').first().json.contactName }}",
        "emailType": "html",
        "message": "={{ $('Email Writer Chain').first().json.text.replace(/\\n/g, '<br>') }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "Log to Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2880, 200],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_PLACEHOLDER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Summary",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Parse Score').first().json.company }}",
            "Orig Text": "={{ $('Parse Score').first().json.summary }}",
            "Summary": "={{ $('Parse Score').first().json.rationale }}",
            "Rating": "={{ $('Parse Score').first().json.score }}",
            "Recency": "={{ $now }}"
          },
          "matchingColumns": ["Company"],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED_ID_PLACEHOLDER",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "New Lead Added": {
      "main": [
        [
          {
            "node": "Get Summary Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary Log": {
      "main": [
        [
          {
            "node": "Check 30-Day Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 30-Day Dedup": {
      "main": [
        [
          {
            "node": "Skip If Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Recent": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "Fetch News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News": {
      "main": [
        [
          {
            "node": "Summarizer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Summarizer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarizer Chain": {
      "main": [
        [
          {
            "node": "Scorer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash (Scorer)": {
      "ai_languageModel": [
        [
          {
            "node": "Scorer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scorer Chain": {
      "main": [
        [
          {
            "node": "Parse Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score": {
      "main": [
        [
          {
            "node": "Route By Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Score": {
      "main": [
        [
          {
            "node": "Email Writer Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash (Email)": {
      "ai_languageModel": [
        [
          {
            "node": "Email Writer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Writer Chain": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log to Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
